<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>studentManager.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8D1F7AAB1C89499D001DC12F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D1F7AC41C89499E001DC12F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D1F7ACF1C89499E001DC12F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
